####################
# SRAM Constraints #
####################

# CPLD<->SRAM control lines
NET "sram_oe_n"    LOC = P136  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_we_n"    LOC = P16   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_ce_n"    LOC = P130  | IOSTANDARD = LVTTL | SLEW = FAST;

# CPLD<->SRAM 21 bit address bus
NET "sram_addr<20>" LOC = P124  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<19>" LOC = P17   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<18>" LOC = P15   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<17>" LOC = P14   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<16>" LOC = P142  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<15>" LOC = P26   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<14>" LOC = P25   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<13>" LOC = P24   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<12>" LOC = P23   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<11>" LOC = P22   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<10>" LOC = P21   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<9>"  LOC = P20   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<8>"  LOC = P19   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<7>"  LOC = P13   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<6>"  LOC = P12   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<5>"  LOC = P11   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<4>"  LOC = P10   | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<3>"  LOC = P9    | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<2>"  LOC = P7    | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<1>"  LOC = P4    | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_addr<0>"  LOC = P135  | IOSTANDARD = LVTTL | SLEW = FAST;

# CPLD<->SRAM 8 bit data bus
NET "sram_data<7>"   LOC = P140 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<6>"   LOC = P125 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<5>"   LOC = P139 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<4>"   LOC = P126 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<3>"   LOC = P138 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<2>"   LOC = P128 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<1>"   LOC = P137 | IOSTANDARD = LVTTL | SLEW = FAST;
NET "sram_data<0>"   LOC = P129 | IOSTANDARD = LVTTL | SLEW = FAST;


###################
# AVR Constraints #
###################

# Global CPLD control lines: global clock GCK1 and global tristate GTS1
# NET "avr_GCK>"    LOC = P30  | IOSTANDARD = LVTTL | SLEW = FAST;
# NET "avr_GTS>"    LOC = P5  | IOSTANDARD = LVTTL | SLEW = FAST;

# AVR PortA, CPLD<->AVR 8 bit data bus
NET "avr_data<7>"    LOC = P121  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<6>"    LOC = P120  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<5>"    LOC = P119  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<4>"    LOC = P118  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<3>"    LOC = P117  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<2>"    LOC = P116  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<1>"    LOC = P115  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_data<0>"    LOC = P113  | IOSTANDARD = LVTTL | SLEW = FAST;

# AVR PortB, CPLD<->AVR control lines
NET "avr_ctrl<0>"    LOC = P82  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_ce"         LOC = P83  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_we"         LOC = P85  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_oe"         LOC = P86  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_si"         LOC = P87  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_sreg_en"    LOC = P88  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_reset"      LOC = P91  | IOSTANDARD = LVTTL | SLEW = FAST;
NET "avr_clk"        LOC = P92  | IOSTANDARD = LVTTL | SLEW = FAST;

